.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-container {
  width: 100%;
  border: 2px solid #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.search-wrapper {
  max-width: 800px;
  height: 50px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.team-image {
  height: 100px;
  width: 100px;
  padding: 16px;
}

.game-info {
  font-size: 8;
}

.App-link {
  color: #61dafb;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
}

.header-container ul {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container-content {
  flex: 1;
  overflow: scroll;
  padding: 100px 20px;
}

.container-parent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: auto 20px;
  overflow: hidden;
}

.nav-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.nav-left {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.nav-left:hover,
.nav-right:hover {
  background-color: #f9f9f9;
}